<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="banner-container">
      <div class="banner">
        <div class="banner-message">
          Join us at <a href="">NEMTAC 2024</a> in Glendale, AZ, Sept 8 to 10.
          We will host an interactive discussion on Mastering Dispatching at 1pm
          on Monday, Sept 9 in Solana FG. You’re invited!
        </div>
        <div class="banner-button-container">
          <button type="button" class="btn btn-white-fill">
            You’re invited!
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
