<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="banner-container">
      <div class="banner">
        <div class="banner-message">
          Join us at <a href="/nemtac2025panel.html">NEMTAC TRANSFORM 2025</a> in Dallas, TX, Aug 24 - 26.
          We will host an expert panel discussion on NEMT Growth Unlocked at 10am
          on Monday, Aug 25 in Room Cortez CD. You're invited!
        </div>
        <div class="banner-button-container">
          <button type="button" class="btn btn-white-fill" onclick="window.location.href='/nemtac2025panel.html'">
            You're invited!
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
